<p>employees::parking_units::index</p>

<p>Project: <%= @project.commercial_name %></p>
<p>Phase: <%= @phase.phase_number %></p>
<p>Lot: <%= @lot.lot_number %></p>

<% if @parking_units.nil? || @parking_units.empty? %>
  <p>There is no parking unit in this lot.</p>
<% else %>
  <% @parking_units.each do |pu| %>
    <p>
      Parking name: <%= pu.parking_name %>
      <%= link_to "Show", employees_project_parking_unit_path(@project.id, pu) %>
    </p>
  <% end %>
<% end %>
<%= link_to "New parking unit", new_employees_project_parking_unit_path(@project.id) %>
<%= link_to "Back", employees_project_lot_path(@project.id, @lot) %>
