<div>
  <p>
    Employees > Projects <%= @project.commercial_name %> >
    Phases <%= @phase.phase_number %> >
    Lots <%= @lot.lot_number %> > >
    Parking Units > @pu.parking_name > Show
    <hr>
  </p>
  <hr>
</div>

<p>Parking name: <%= @pu.parking_name %></p>
<p>
  Attached to unit:
  <% if @pu.unit_id.nil? %>
     n/a
  <% else %>
     <% u = Unit.find(@pu.unit_id) %>
     <%= u.unit_name %>
  <% end %>
</p>

<%= link_to "Edit", edit_employees_project_parking_unit_path(@project.id) %>
<%= link_to "Back", employees_project_parking_units_path(@project.id) %>
