<% content_for :title, "Payments" %>

<% icons = { "pending" => "payment-pending.png", "completed" => "payment-completed.png", "future payment" => "payment-future.png"} %>

<div class="container">

 <div class="well payment-container">
   <div class="flex-payment" >
    <h4>Pending: € <%=number_with_delimiter(@pending)   %></h4>
    <h4>Completed: € <%=number_with_delimiter(@completed) %> </h4>
    <h4>Future Payments: € <%=number_with_delimiter(@future_payments) %></h4>
  </div>
</div>
<div class="row">

  <div class="col-xs-8">
    <div class="container">

      <% status = ['pending','completed','future payment'] %>
      <% title = ['Pending', 'Completed' , 'Future Payment'] %>

      <% status.each_with_index do |status, index| %>

      <h3><%= title[index] %></h3>

      <div class="row">

        <% if @payments.any? {|d| d.status == status } %>

        <% @payments.each do |payment|%>

        <% if payment.status == status %>

        <div class="col-xs-12 col-sm-3">

          <div class="thumbnail">
            <%= image_tag( icons[status], class: "img-rounded" ) %>
            <div class="caption text-center">
              <h3><%= payment.title.capitalize %></h3>
              <p><%= payment.description.capitalize %></p>
              <h6>€ <%=number_with_delimiter(payment.amount)   %></h6>
              <p>Due: <%= payment.due_date.to_formatted_s(:rfc822) %></p>
              <% @document = Document.find(payment.document_id) %>
              <% unless @document.nil? || @document.file.nil? || @document.file == '' %>
              <% pdf = cl_image_path(@document.file, resource_type: "raw", target: "_blank") %>
              <%= link_to pdf, target: "_blank" do %>
              <button class="btn btn-normal">
                Download invoice
              </button>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>


