<div class="container">
  <div class="row">

    <div class="col-xs-8">
      <div class="container">

        <% status = ['pending','completed','future_payment'] %>
        <% title = ['Pending', 'Completed' , 'Future Payment'] %>

        <% status.each_with_index do |status, index| %>

          <div class="row">

            <% if @payments.any? {|d| d.status == status } %>

            <h3><%= title[index] %></h3>

              <% @payments.each do |payment|%>

                <% if payment.status == status %>

                  <div class="col-xs-12 col-sm-3">

                    <div class="thumbnail">
                      <img class="img-rounded" src="http://unsplash.it/100/100" >
                      <div class="caption text-center">
                        <h3><%= payment.name %></h3>
                        <p><%= payment.description %></p>
                        <h1>€ <%= payment.amount %></h1>
                        <p>Due: <%= payment.due_date.to_formatted_s(:rfc822) %></p>
                        <% @document = Document.find(payment.document_id) %>
                        <% unless @document.nil? || @document.file.nil? || @document.file == '' %>
                          <% pdf = cl_image_path(@document.file, resource_type: "raw") %>
                          <%= link_to pdf do %>
                            <button class="btn btn-normal">
                            Download invoice
                            </button>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>


    <div class="col-xs-4">
      <div class="well">Balance:</div>

      <%= @pending %>



    </div>

  </div>
</div>


