<div class="container">

  <div class="row">
    <h3>
      Problem: <%= @ticket.title %>
    </h3>

          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
              <div class="caption text-center">
                <p>
                  <strong>Description: </strong><%= @ticket.description %>
                </p>
                <p>
                 <strong>Status: </strong><%= @ticket.status %>
                </p>
                <p>
                 <strong>Customer: </strong><%= @ticket.unit.customer.first_name %> <%= @ticket.unit.customer.last_name %>
                </p>

                <p>
                  <%= link_to "Answer", edit_employees_helpdesk_ticket_path(@ticket.id), remote: true, class: "btn btn-danger" %>
                </p>

              </div>
            </div>

          </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="answerticketModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
