<div>
  <p>
    Employees > Projects <%= @project.commercial_name %> >
    Phases <%= @phase.phase_number %> >
    Lots > Index
    <hr>
  </p>
  <hr>
</div>

<div class="container">

  <div class="row">
    <h3>
      Lots <%= link_to "New lot", new_employees_project_lot_path(@project.id), remote: true, class: "btn btn-warning"%>
    </h3>
      <% if @lots.nil? || @lots.empty? %>
        <p>There is no phase for this project.</p>
      <% else %>
        <% @lots.each do |lot| %>
          <div class="col-xs-12 col-sm-4">
          <%  %>
            <div class="thumbnail">
              <div class="caption text-center">
                <h3>Lot number <%= lot.lot_number %></h3>
                <p>Lot description: <%= lot.description %></p>
                <% save_phase(lot.phase) %>
                <%= link_to "Details", employees_project_lot_path(@project.id, lot), class: "btn btn-normal" %>
              </div>
            </div>

          </div>
      <% end %>

    </div>
  <% end %>


  <%= link_to "Back", employees_project_phase_path(@project.id, @phase), class: "btn btn-normal" %>

</div>

<!-- Modal -->
<div class="modal fade" id="newlotModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

