<div>
  <p>
    Employees > Projects <%= @project.commercial_name %> >
    Phases <%= @phase.phase_number %> >
    Lots <%= @lot.lot_number %> > Show
    <hr>
  </p>
  <hr>
</div>

<p>Description: <%= @lot.description %></p>
<p>Size: <%= @lot.lot_size %></p>
<p>Cadastral Reference: <%= @lot.cadastral_reference %></p>
<% unless @lot.picture.url.nil? %>
  <p>
  Picture
  <%= image_tag @lot.picture.url(:std)%>
  </p>
<% end %>

<%= link_to "Parking units", employees_project_parking_units_path %>
<%= link_to "Buildings", employees_project_buildings_path %>
<%= link_to "Edit", edit_employees_project_lot_path(@project.id, @lot) %>
<%= link_to "Back", employees_project_lots_path(@project.id) %>

