<h1>Project : <%= @project.commercial_name %></h1>

<%= simple_form_for(@project, url: employees_project_path(@project) ) do |f| %>

  <%= f.error_notification %>

 <div class="form-inputs">
    <%= f.input :commercial_name %>
    <%= f.input :internal_name %>
    <%= f.input :description %>
    <%= f.input :plotsize %>
    <%= f.input :longitude %>
    <%= f.input :latitude %>
   </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>

<%= link_to 'Back', employees_project_path(@project) %>
<br>
<br>
<br>
