<div>
  <p>
    Employees > Projects <%= @project.commercial_name %> >
    Phases <%= @phase.phase_number %> >
    Lots <%= @lot.lot_number %> >
    Buildings <%= @building.building_name %> >
    Storage Units <%= @su.storage_name %> > Show
    <hr>
  </p>
  <hr>
</div>

<p>Storage unit name: <%= @su.storage_name %></p>
<p>Storage unit size: <%= @su.storage_size %></p>
<p>Attached to unit: <%= @unit %></p>

<%= link_to "Edit", edit_employees_project_storage_unit_path(@project.id) %>
<%= link_to "Back", employees_project_storage_units_path(@project.id) %>
