<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title"><%= @handover.title %></h4>
</div>
<%= simple_form_for(@handover, url: customers_unit_handover_path, method: :patch) do |f| %>
  <div class="modal-body">
    <h4>Description</h4>
      <div class="modal-para"><p><%= @handover.description %></p></div>
      <%= f.error_notification %>
      <%= f.input :customer_remarks %>
  </div>
  <div class="modal-footer">
      <%= f.button :submit %>
  </div>
<% end %>













