<!-- This should be Customer/handovers#edit -->

<p>Handover for unit <strong><%= @unit.unit_name %></strong></p>
<p>Title: <%= @handover.title %></p>
<p>Description: <%= @handover.description %></p>
<p>Date: <%= @handover.date %></p>

<%= simple_form_for(@handover, url: customers_unit_handover_path) do |f| %>
  <%= f.error_notification %>
  <%= f.input :customer_remarks %>
  <%= f.button :submit %>
<% end %>
