<div>
  <p>
    Employees > Projects <%= @project.commercial_name %> >
    Phases <%= @phase.phase_number %> >
    Lots <%= @lot.lot_number %> >
    Buildings <%= @building.building_name %> >
    Units > Index
    <hr>
  </p>
  <hr>
</div>

<div class="container">

  <div class="row">
    <h3>
      Units <%= link_to "New Unit", new_employees_project_unit_path(@project.id), class: "btn btn-warning"%>
    </h3>
      <% if @units.nil? || @units.empty? %>
        <p>There is no unit for this project.</p>
      <% else %>
        <% @units.each do |unit| %>
          <div class="col-xs-12 col-sm-4">
          <%  %>
            <div class="thumbnail">
              <div class="caption text-center">
                <h3>Unit name: <%= unit.unit_name %></h3>
                <p>Unit description: <%= unit.description %></p>
                <% save_phase(unit.building.lot.phase) %>
                <%= link_to "Details", employees_project_unit_path(@project.id, unit), class: "btn btn-normal" %>
              </div>
            </div>

          </div>
      <% end %>

    </div>
  <% end %>


  <%= link_to "Back", employees_project_phase_path(@project.id, @phase), class: "btn btn-normal" %>

</div>


<% if @units.nil? || @units.empty? %>
  <p>There is no unit for this building.</p>
<% else %>
  <h5>Units:</h5>
  <% @units.each do |unit| %>
    <p>
    Unit name: <%= unit.unit_name %>
     <%= link_to "Show", employees_project_unit_path(@project.id, unit) %>
    </p>
  <% end %> <!-- do -->
<% end %> <!-- if -->
<%= link_to "New Unit", new_employees_project_unit_path(@project.id) %>
<%= link_to "Back", employees_project_building_path(@project.id, @building) %>
