<div>
  <p>
    Employees > Projects <%= @project.commercial_name %> >
    Phases <%= @phase.phase_number %> >
    Lots <%= @lot.lot_number %> >
    Buildings <%= @building.building_name %> >
    Units > Index
    <hr>
  </p>
  <hr>
</div>

<% if @units.nil? || @units.empty? %>
  <p>There is no unit for this building.</p>
<% else %>
  <h5>Units:</h5>
  <% @units.each do |unit| %>
    <p>
    Unit name: <%= unit.unit_name %>
     <%= link_to "Show", employees_project_unit_path(@project.id, unit) %>
    </p>
  <% end %> <!-- do -->
<% end %> <!-- if -->
<%= link_to "New Unit", new_employees_project_unit_path(@project.id) %>
<%= link_to "Back", employees_project_building_path(@project.id, @building) %>
