<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">New Phase</h3>
</div>
<%= simple_form_for(@phase, url: employees_project_phases_path ) do |f| %>
<div class="modal-body">
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :phase_number %>
      <%= f.input :description %>
      <%= f.input :duration %>
      <%= f.input :picture %>
      <%= f.input :picture_cache, as: :hidden %>
    </div>

</div>

<div class="modal-footer">
  <div class="form-actions">
      <%= f.button :submit %>
      <% end %>
  </div>
</div>

