<div>
  <p>
    Employees > Projects <%= @project.commercial_name %> >
    Phases <%= @phase.phase_number %> > Edit
    <hr>
  </p>
  <hr>
</div>

<%= simple_form_for(@phase, url: employees_project_phase_path(@project, @phase) ) do |f| %>

  <%= f.error_notification %>

 <div class="form-inputs">
    <%= f.input :phase_number %>
    <%= f.input :description %>
    <%= f.input :duration %>
    <%= f.input :picture, label: "Replace picture" %>
    <%= f.input :picture_cache, as: :hidden %>
    <%= image_tag @phase.picture.url(:small) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>

<%= link_to 'Back', employees_project_phase_path(@project, @phase) %>
<br>
<br>
<br>
