<div>
  <p>
    Employees > Projects <%= @project.commercial_name %> >
    Phases > Index
    <hr>
  </p>
  <hr>
</div>

<div class="container">

  <div class="row">
    <h3>
      Phases <%= link_to "New Phase", new_employees_project_phase_path, remote: true, class: "btn btn-warning"%>
    </h3>
      <% if @phases.nil? || @phases.empty? %>
        <p>There is no phase for this project.</p>
      <% else %>
        <% @phases.each do |phase| %>
          <div class="col-xs-12 col-sm-4">
          <%  %>
            <div class="thumbnail">
              <div class="caption text-center">
                <h3>Phase number <%= phase.phase_number %></h3>
                <p>
                  <%= link_to 'Details', employees_project_phase_path(@project.id, phase.id), class: "btn btn-normal"%>
                </p>
              </div>
            </div>

          </div>
      <% end %>

    </div>
  <% end %>
  <%= link_to "Back", employees_dashboard_path, class: "btn btn-normal" %>


</div>

<!-- Modal -->
<div class="modal fade" id="newphaseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
