<div>
  <p>
    Employees > Projects <%= @project.commercial_name %> >
    Phases > New
    <hr>
  </p>
  <hr>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-xs-offset-right-1">
      <%= simple_form_for(@phase, url: employees_project_phases_path ) do |f| %>

        <%= f.error_notification %>

       <div class="form-inputs">
          <%= f.input :phase_number %>
          <%= f.input :description %>
          <%= f.input :duration %>
          <%= f.input :picture %>
          <%= f.input :picture_cache, as: :hidden %>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
          <%= link_to 'Cancel',  employees_project_phases_path, class: "btn btn-danger" %>

        </div>

      <% end %>

    </div>
  </div>
</div>
