<p>Employee::Phase::Show</p>

<h1>Project: <%= "#{@project.commercial_name} (#{@project.internal_name})" %></h1>

<p>Phase number: <%= @phase.phase_number %></p>
<p>Description: <%= @phase.description %></p>
<p>Duration: <%= @phase.duration %></p>
<p>
picture
<%= image_tag @phase.picture.url(:std)%>
</p>
<%= link_to "Edit", edit_employees_project_phase_path(@phase.project_id, @phase) %>
<%= link_to "Lots", employees_project_lots_path(@phase.project_id) %>

<%= link_to "Back", employees_project_phases_path %>
