

<div class="container">


  <div class="row">



    <div class="col-md-6">

    <h3>Site Visits</h3>


     <% @sitevisits.each do |visit| %>

     <div class="col-md-6">

      <div class="thumbnail">
        <%= image_tag( "sitevisit.png", class: "img-rounded" ) %>
        <div class="caption text-center">
          <h3><%= visit.title %></h3>
          <p><%= visit.description %></p>
          <p><strong><%= visit.date.to_formatted_s(:rfc822)%></strong></p>
          <a href="#" class="btn btn-normal" role="button">Details</a>
        </div>
      </div>

    </div>

    <% end %>

    </div>



    <div class="col-md-6">

   <h3>Handover</h3>

    <% @handovers.each do |handover| %>

    <div class="col-md-6">

      <div class="thumbnail">
        <%= image_tag( "handover_two.png", class: "img-rounded" ) %>
        <div class="caption text-center">
          <h3><%= handover.title %></h3>
          <p><%= handover.description %></p>
          <p><strong><%= handover.date.to_formatted_s(:rfc822)%></strong></p>
          <%= link_to "Details", edit_customers_unit_handover_path(@unit.id, handover), class: "btn btn-normal", role: "button", remote: true %>
        </div>
      </div>

    </div>

    <% end %>

  </div>

</div>

</div>




<div id="map" class="map-position" ; "></div>



<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).on('ready', function() {
var handler = Gmaps.build('Google');


handler.buildMap( {provider: { scrollwheel: false, zoomControl: false, styles: [{"elementType":"geometry","stylers":[{"hue":"#ff4400"},{"saturation":-68},{"lightness":-4},{"gamma":0.72}]},{"featureType":"road","elementType":"labels.icon"},{"featureType":"landscape.man_made","elementType":"geometry","stylers":[{"hue":"#0077ff"},{"gamma":3.1}]},{"featureType":"water","stylers":[{"hue":"#00ccff"},{"gamma":0.44},{"saturation":-33}]},{"featureType":"poi.park","stylers":[{"hue":"#44ff00"},{"saturation":-23}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"hue":"#007fff"},{"gamma":0.77},{"saturation":65},{"lightness":99}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"gamma":0.11},{"weight":5.6},{"saturation":99},{"hue":"#0091ff"},{"lightness":-86}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"lightness":-48},{"hue":"#ff5e00"},{"gamma":1.2},{"saturation":-23}]},{"featureType":"transit","elementType":"labels.text.stroke","stylers":[{"saturation":-64},{"hue":"#ff9100"},{"lightness":16},{"gamma":0.47},{"weight":2.7}]}] }, internal:{ id: 'map' }},

function()
  {

    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();



    if (markers.length == 0) {


    handler.getMap().setZoom(2);


      } else if (markers.length == 1) {

    handler.getMap().setZoom(14);
  }

  });
});
<% end %>
<% end %>





<!-- Modal -->
<div class="modal fade" id="handoverModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>




