
<div class="container">

  <div class="documents-space">

    <div class="document-title">

        <div class="row">
          <% @sitevisits.each do |visit| %>

                <div class="col-md-3">

                  <div class="thumbnail">
                    <img class="img-rounded" src="http://unsplash.it/800/800">
                    <div class="caption text-center">
                      <h3><%= visit.title %></h3>
                      <p><%= visit.description %></p>
                      <p><strong><%= visit.date.to_formatted_s(:rfc822)%></strong></p>
                      <a href="#" class="btn btn-normal" role="button">Details</a>
                    </div>
                  </div>

                </div>

            <% end %>

        </div>

    </div>

  </div>




  <div id="map" style="width: 100%; height: 800px; "></div>

  <% content_for(:after_js) do %>
  <%= javascript_tag do %>
  $(document).on('ready', function() {
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: { id: 'map' } }, function() {
  markers = handler.addMarkers(<%= raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  if (markers.length == 0) {
  handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>




</div>


