<% content_for :title, "Decisions" %>


<% icons = { kitchen: "kitchen.png", bathroom: "bathroom.png", construction: "construction.png",
             door: "door.png", electrical: "electrical.png", flooring: "flooring.png",
             technical: "technical.png"} %>


<div class="container">

  <% if @decisions.any? {|d| d.status == "pending" } %>
  <h3> Pending Decisions</h3>
    <div class="row">

      <% @decisions.each do |decision| %>
        <% if decision.status == "pending" %>
          <div class="col-xs-12 col-sm-4">

            <div class="thumbnail">
              <%= image_tag( icons[decision.kind.to_sym], class: "img-rounded" ) %>
              <div class="caption text-center">
                <h4><%= decision.title.capitalize %></h4>
                <span class="badge badge-pending card-show label-position"><%= decision.status.capitalize %></span>
                <p><strong>Due: <%= decision.due_date.to_formatted_s(:rfc822) %></strong></p>
                <p><%= link_to "Show", customers_unit_decision_path(@unit, decision), remote:true, class: "btn btn-normal", role: "button"  %> </p>
              </div>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @decisions.any? {|d| d.status == "approved" } %>
  <h3> Approved Decisions</h3>
    <div class="row">

      <% @decisions.each do |decision| %>
        <% if decision.status == "approved" %>
          <div class="col-xs-12 col-sm-3">

            <div class="thumbnail">
              <%= image_tag( icons[decision.kind.to_sym], class: "img-rounded" ) %>
              <div class="caption text-center">
                <h4><%= decision.title.capitalize %></h4>
                <span class="badge badge-success card-show label-position"><%= decision.status.capitalize %></span>
                <p><strong>Approved: <%= decision.updated_at.to_datetime.strftime("%d %b %Y") %></strong></p>
                <p><%= link_to "Show", customers_unit_decision_path(@unit, decision), remote:true, class: "btn btn-normal", role: "button" %> </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @decisions.any? {|d| d.status == "rejected" } %>
        <h3> Rejected Decisions</h3>
    <div class="row">

      <% @decisions.each do |decision| %>
        <% if decision.status == "rejected" %>
          <div class="col-xs-12 col-sm-3">
              <div class="thumbnail">
                <%= image_tag( icons[decision.kind.to_sym], class: "img-rounded" ) %>
                <div class="caption text-center">
                  <h4><%= decision.title.capitalize %></h4>
                  <span class="badge badge-danger card-show label-position"><%= decision.status.capitalize %></span>
                  <p><strong>Rejected: <%= decision.updated_at.to_datetime.strftime("%d %b %Y") %></strong></p>
                  <p><%= link_to "Show", customers_unit_decision_path(@unit, decision), remote:true, class: "btn btn-normal", role: "button" %></p>
                </div>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>


<!-- Modal -->
<div class="modal fade" id="decisionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
