<% icons = { kitchen: "kitchen.png", bathroom: "bathroom.png", construction: "construction.png",
             door: "door.png", electrical: "electrical.png", flooring: "flooring.png",
             technical: "technical.png"} %>


<div class="container">

  <% if @decisions.any? {|d| d.status == "pending" } %>
    <div class="row">
      <h3> Pending Decisions</h3>
      <% @decisions.each do |decision| %>
        <% if decision.status == "pending" %>
          <div class="col-xs-12 col-sm-4">

            <div class="thumbnail">
              <%= image_tag( icons[decision.kind.to_sym], class: "img-rounded" ) %>
              <div class="caption text-center">
                <h3><%= decision.title %></h3>
                <p><%= decision.description %></p>
                <p><%= decision.due_date.to_formatted_s(:rfc822) %></p>
                <p><%= decision.status %></p>
                <p><%= link_to "Show", customers_unit_decision_path(@unit, decision), remote:true, class: "btn btn-normal", role: "button"  %> </p>
              </div>
            </div>

          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @decisions.any? {|d| d.status == "approved" } %>
    <div class="row">
      <h3> Approved Decisions</h3>
      <% @decisions.each do |decision| %>
        <% if decision.status == "approved" %>
          <div class="col-xs-12 col-sm-3">

            <div class="thumbnail">
              <%= image_tag( icons[decision.kind.to_sym], class: "img-rounded" ) %>
              <div class="caption text-center">
                <h3><%= decision.title %></h3>
                <p><%= decision.description %></p>
                <p><%= decision.due_date.to_formatted_s(:rfc822) %></p>
                <p><%= decision.status %></p>
                <p><%= link_to "Show", customers_unit_decision_path(@unit, decision), remote:true, class: "btn btn-normal", role: "button" %> </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @decisions.any? {|d| d.status == "rejected" } %>
    <div class="row">
      <h3> Rejected Decisions</h3>
      <% @decisions.each do |decision| %>
        <% if decision.status == "rejected" %>
          <div class="col-xs-12 col-sm-3">
              <div class="thumbnail">
                <%= image_tag( icons[decision.kind.to_sym], class: "img-rounded" ) %>
                <div class="caption text-center">
                  <h3><%= decision.title %></h3>
                  <p><%= decision.description %></p>
                  <p><%= decision.due_date.to_formatted_s(:rfc822) %></p>
                  <p><%= decision.status %></p>
                  <p><%= link_to "Show", customers_unit_decision_path(@unit, decision), remote:true, class: "btn btn-normal", role: "button" %></p>
                </div>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>


<!-- Modal -->
<div class="modal fade" id="decisionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
