<div class="navbar js-navbar navbar-wagon-fixed">

  <!-- Logo -->
  <div>
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-revive-white.svg" %>
    <% end %>
  </div>

  <!-- Middle Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">



    <%= link_to t(".dashboard", default: '<i class="fa fa-home" aria-hidden="true"></i> Home'.html_safe ), customers_dashboard_path(@unit), class: "navbar-wagon-item navbar-wagon-link #{"active" if @current_page_dashboard}" %>

    <!-- Decisions -->
    <%= link_to t(".decisions", default: "Decisions"), customers_unit_decisions_path(@unit), class: "navbar-wagon-item navbar-wagon-link #{"active" if @current_page_decisions}" %>

    <!-- Site Visits -->
    <%= link_to t(".site visits", default: "Events"), customers_unit_site_visits_path(@unit), class: "navbar-wagon-item navbar-wagon-link #{"active" if @current_page_sitevisits}" %>

    <!-- Payments -->
    <%= link_to t(".payments", default: "Payments"), customers_unit_payments_path(@unit), class: "navbar-wagon-item navbar-wagon-link #{"active" if @current_page_payments}" %>

    <!-- Documents -->
    <%= link_to t(".documents", default: "Documents"), customers_unit_documents_path(@unit), class: "navbar-wagon-item navbar-wagon-link #{"active" if @current_page_documents}" %>


    <!-- News -->
    <%= link_to t(".news", default: "News"), customers_unit_news_index_path(@unit), class: "navbar-wagon-item navbar-wagon-link #{"active" if @current_page_news}" %>
  </div>


  <!-- Profile picture and dropdown -->
  <div class="avatar-navbar-padding">

    <div class="navbar-wagon-right">



      <div class="dropdown dropdown-both-elements">

         <div class="name-navbar dropdown-toggle" id= "navbar-wagon-menu" data-toggle="dropdown">  <%= current_customer.first_name.capitalize %> </div>


          <%= cl_image_tag current_customer.picture, class: "avatar-navbar avatar-navbar-bordered", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">




        <li>
          <%= link_to customers_unit_helpdesk_tickets_path(@unit) do %>
            <i class="fa fa-question-circle-o"></i> <%= t(".questions", default: "My questions") %>
          <% end %>
        </li>

        <li>
          <%= link_to customers_profile_path do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Edit my profile") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_customer_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>

    </div>



</div>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">

    <div class="dropdown">

      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to t(".dashboard", default: "Home"), customers_dashboard_path(@unit) %></li>
        <li><%= link_to t(".decisions", default: "Decisions"), customers_unit_decisions_path(@unit) %></li>
        <li><%= link_to t(".site visits", default: "Events"), customers_unit_site_visits_path(@unit) %></li>
        <li><%= link_to t(".payments", default: "Payments"), customers_unit_payments_path(@unit) %></li>
        <li><%= link_to t(".documents", default: "Documents"), customers_unit_documents_path(@unit) %></li>
        <li><%= link_to t(".news", default: "News"), customers_unit_news_index_path(@unit) %></li>

      </ul>
    </div>

  </div>

</div>



