<% icons = { manual: "manual.png", official: "official.png", invoice: "invoice.png"} %>
<!-- first part of documents official -->

<div class="container">

  <div class="documents-space">
    <div class="document-title">
      <% @kindU.each do |unique| %>
        <div class="row">
          <h3><%= unique %></h3>
        </div>
        <div class="row">
          <% @documents.each do |document| %>
            <% if document.kind == unique %>

                <div class="col-md-3">

                <div class="thumbnail">
                  <%= image_tag( icons[unique.downcase.to_sym], class: "img-rounded" ) %>
                  <div class="caption text-center">
                    <h3><%= document.title %></h3>
                    <p><%= document.description %></p>
                    <p><a href="<%= cl_image_path(document.file,  resource_type: "raw") %>" class="btn btn-normal" role="button">Download</a></p>
                  </div>
                </div>
                </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>




<div class="container-photo">
  <div class="row">
    <div class="col-sm-4">
        <div class="card-base-customer-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://unsplash.it/400/400');">
      </div>

    </div>
    <div class="col-sm-4">
      <div class="card-base-customer-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://unsplash.it/400/400');">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card-base-customer-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://unsplash.it/400/400');">
      </div>
    </div>
  </div>
</div>
