<div>

    <ol class="breadcrumb">
    <li><%= link_to "Dashboard", employees_dashboard_path %></li>
    <li><%= link_to "Projects", employees_projects_path %></li>
    <li><%= link_to @project.commercial_name, employees_project_path(@project) %></li>
    <li><%= link_to "Phases", employees_project_phases_path(@project) %></li>
    <li><%= link_to @phase.phase_number, employees_project_phase_path(@project.id, @phase.id) %></li>
    <li><%= link_to "Lots", employees_project_lots_path(@phase.project_id) %></li>
    <li><%= link_to @lot.lot_number, employees_project_lot_path(@project.id, @lot) %></li>
    <li><%= link_to "Buildings", employees_project_buildings_path(@phase.project_id) %></li>
    </ol>

</div>

<div class="container">

  <div class="row">
    <h3>
      Buildings <%= link_to "New building", new_employees_project_building_path(@project.id) , class: "btn btn-warning"%>
    </h3>
      <% if @buildings.nil? || @buildings.empty? %>
        <p>There is no building for this project yet.</p>
      <% else %>
        <% @buildings.each do |building| %>
          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
              <div class="caption text-center">
                <h3><%= building.building_name %></h3>
                <p><strong>Description: </strong><%= building.description %></p>
                <% save_phase(building.lot.phase) %>
                <%= link_to "Details", employees_project_building_path(@project.id, building), class: "btn btn-normal" %>
              </div>
            </div>

          </div>
      <% end %>

    </div>
  <% end %>



</div>

