<div>
  <p>
    Employees > Projects <%= @project.commercial_name %> >
    Phases <%= @phase.phase_number %> >
    Lots <%= @lot.lot_number %> >
    Buildings <%= @building.building_name %> > Show
    <hr>
  </p>
  <hr>
</div>


<p>Description: <%= @building.description %></p>
<p>Address: <%= @building.address %></p>
<p>Floors: <%= @building.floors %></p>
<p>Shared space: <%= @building.shared_space %></p>
<p>Elevators: <%= @building.elevator_amount %></p>
<% unless @building.picture.url.nil? %>
  <p>
  Picture
  <%= image_tag @building.picture.url(:std)%>
  </p>
<% end %>
<%= link_to "Units", employees_project_units_path %>
<%= link_to "Storage Units", employees_project_storage_units_path %>
<%= link_to "Edit", edit_employees_project_building_path(@project.id, @building) %>
<%= link_to "Back", employees_project_buildings_path(@project.id) %>
