<% icons = { open: "open.png", closed: "closed.png" } %>


<div class="container">

  <% if @tickets.any? {|d| d.status == "open" } %>
    <div class="row">
      <h3> Your Open Tickets</h3>
      <% @tickets.each do |ticket| %>
        <% if ticket.status == "open" %>
          <div class="col-xs-12 col-sm-4">

            <div class="thumbnail">
              <%= image_tag( icons[ticket.status.to_sym], class: "img-rounded" ) %>
              <div class="caption text-center">
                <h3><%= ticket.title %></h3>
                <p><%= ticket.description %></p>

              </div>
            </div>

          </div>
        <% end %>
      <% end %>

    </div>
  <% end %>

  <% if @tickets.any? {|d| d.status == "closed" } %>
    <div class="row">
      <h3> Your Closed Tickets</h3>
      <% @tickets.each do |ticket| %>
        <% if ticket.status == "closed" %>
          <div class="col-xs-12 col-sm-4">

            <div class="thumbnail">
              <%= image_tag( icons[ticket.status.to_sym], class: "img-rounded" ) %>
              <div class="caption text-center">
                <h3><%= ticket.title %></h3>
                <p><%= ticket.description %></p>
                <p><%= link_to "Show Answer", customers_unit_helpdesk_ticket_path(@unit, ticket), remote:true, class: "btn btn-normal", role: "button"  %> </p>

              </div>
            </div>

          </div>
        <% end %>
      <% end %>

    </div>
  <% end %>

</div>


<!-- Modal -->
<div class="modal fade" id="helpdeskticketanswerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
