<!-- Title for page -->
<% content_for :title, "Log in" %>

<% images = ["bg_01_blur","bg_02_blur","bg_03_blur","bg_04_blur","bg_05_blur"] %>
<% images_without_blur = ["bg_01","bg_02","bg_03","bg_04","bg_05"] %>


<div class="backgroundcolorwrapper" style="background-image: url(<%= image_path "#{images_without_blur.sample}.jpg" %>);">

  <div class="centerscreen">
    <div class="container">
      <div class="row">

        <div class="col-xs-10 col-xs-offset-1 col-xs-offset-right-1 col-sm-4 col-sm-offset-0 col-sm-offset-right-0">
          <div class="card-transp">
            <%= image_tag 'logo-revive.svg', class: "logo-margin" %>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-inputs">
                <%= f.input :email, required: false, autofocus: true %>
                <%= f.input :password, required: false %>
                <div class="padding-left-16">
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "Log in" %>
              </div>
            <% end %>
            <div class="margin-top-links">
              <%= render "customers/shared/links" %>
            </div>
          </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-xs-offset-right-1 col-sm-8 col-sm-offset-0 col-sm-offset-right-0">
          <div class="card-transp" style="display: flex;">
              <div>
                <%= image_tag 'logo-tgl.svg', id: "homepagelogo" %>
              </div>
              <div id="webdescription">
                <p>
                  Dear Customer,</br></br> Welcome to your personal <strong>Re-Vive Connect</strong> website.
                  Our goal is to closely accompany you on your journey to a new home.
                  Living the Good Life means not having to worry about the progress of your Re-Vive project.
                </p>
                <p>
                  We invite you to check this webpage regularly for updates on your ongoing project, important notifications, planning site visits and making decisions on customization or getting in touch with one of our staffmembers.
                </p>
              </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>



