<!-- Title for page -->
<% content_for :title, "Log in" %>

<!-- Start of background-image -->

<video playsinline autoplay muted loop poster="<%= image_path 'Egg-Shop.jpg' %>" class="bgvid">
    <source src="<%= video_path 'Egg-Shop.webm' %>" type="video/webm">
    <source src="<%= video_path 'Egg-Shop.mp4' %>" type="video/mp4">
</video>

<!-- End of background image (spans complete page) -->

<div class="centerscreen">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-4">
        <div class="card-transp">
          <%= image_tag 'logo-revive.svg'%>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, required: false %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Log in" %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-8">
        <div class="card-transp">
          <div>
            <%= image_tag 'logo-tgl.svg', width: '200' %>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem sed autem consectetur deleniti esse, iure omnis est inventore assumenda, distinctio dignissimos. Eaque delectus adipisci eveniet, assumenda ab voluptatum illum numquam!
          </p>
        </div>
      </div>

    </div>
  </div>
</div>




