<%= link_to 'Pictures', customers_unit_pictures_path(@unit) %>



<div class="container">

  <div class="distance">
    <div class="container-small-customer-dashboard">
      <!-- First Row -->

      <div class="row">
        <!-- Timeline col -->
        <div class="col-sm-8">
         <p class="line large"></p>
         <div class="well" style="height: 250px;">

          <p class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i><strong> TIMELINE</strong></p>
          <ul class="timeline-hor timeline-margin" id="timeline-dashboard">
            <% @timeline.each do |payment| %>
            <% if payment.status == "future payment" %>
            <li class="li">
              <div class="timestamp">

                <span class="date"><%= payment.due_date %></span>
              </div>
              <div class="status">
                <h4> <%= payment.status %> </h4>
              </div>
            </li>

            <% else %>

            <li class="li complete">
              <div class="timestamp">

                <span class="date"><%= payment.due_date %></span>
              </div>
              <div class="status">
                <h4> <%= payment.status %> </h4>
              </div>
            </li>

            <% end %>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-default" style="height: 258px;">
          <p class="line middle"></p>
          <p class="list-group-item"><strong> ABOUT</strong></p>
          <div class="panel-body text-center">
            <p><strong>Name unit: </strong><%= @unit.unit_name %></p>
            <p><strong>Project: </strong><%= @project.commercial_name %></p>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i> Your Revive contact: <%= @employee.first_name%> <%= @employee.last_name %></li>
            <li class="list-group-item"><i class="fa fa-mobile" aria-hidden="true"></i>  Mobile number: <%= @employee.mobile_number %></li>
            <li class="list-group-item last-fucking-item"><i class="fa fa-envelope" aria-hidden="true"></i> Email: <%= @employee.email %></li>
          </ul>
        </div>
      </div>


    </div>
    <!-- END Timeline col -->
    <!-- END First Row -->

    <!-- Second Row -->
    <div class="row">

      <!-- Webcam col -->


      <div class="col-xs-12 col-sm-4">

       <div class="list-group">
        <p class="line top"></p>
        <p class="list-group-item"><i class="fa fa-exclamation" aria-hidden="true"></i><strong> IMPORTANT</strong></p>
        <div class="scrollable-panel">
          <% @events.each do |objects| %>
            <% objects.each do |object| %>
              <a href="#" class="list-group-item padding-item"><%= object.title %></a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">

      <div class="well card-carousel" style="background-size: cover;">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="<%= prev_num = 0 %>" class="active"></li>
            <% (@webcams.size-1).times do %>
            <li data-target="#carousel-example-generic" data-slide-to="<%= prev_num += 1 %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <div class="item active img-responsive"><img src="<%= @webcams.first.url %>"></div>
            <% @webcams.drop(1).each do |webcam| %>
            <div class="item img-responsive"><img src="<%= webcam.url %>"></div>
            <% end %>
          </div>
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>

    <!-- Important info col -->

  </div>






  <!-- Third row -->
  <div class="third-row-padding">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="list-group">
          <p class="line left"></p>
          <p class="list-group-item"><i class="fa fa-hourglass-o" aria-hidden="true"></i><strong> CONSULTING HOURS</strong><span class="badge badge-primary text-right"> <%= @max_consulting - @elapsedhours %>/<%= @max_consulting %> left</span></p>
          <% @consultinghours.each do |consultation| %>
            <a class="list-group-item padding-item"><%= consultation.description %> <span class="badge badge-warning text-right"><%= consultation.elapsed_time%>h</span></a>
          <% end %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="list-group">
          <p class="line middle"></p>
          <p class="list-group-item"><i class="fa fa-newspaper-o" aria-hidden="true"></i><strong> NEWS</strong></p>
          <% @news.each do |news_item| %>
            <%= link_to  customers_unit_news_path(@unit, news_item), class: "list-group-item padding-item", remote: true do %>
              <%= news_item.title %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="list-group">
          <p class="line right"></p>
          <p class="list-group-item"><i class="fa fa-info" aria-hidden="true"></i><strong> INFORMATION</strong></p>
          <% @informations.each do |information| %>
            <%= link_to  customers_unit_information_path(@unit, information), class: "list-group-item padding-item", remote: true do %>
              <%= information.title %>
              <% if information.read %>
                <span class="badge badge-success text-right">accepted</span>
              <% else %>
                <span class="badge badge-warning text-right">unread</span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <!-- END Third row -->



</div>



</div>

</div>


<!-- Modal Information check-->
<div class="modal fade" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>


<!-- Modal News check-->
<div class="modal fade" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
