<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="card-dashboard card-customer-dashboard" style="background-color: #CCCCCC;">
        <p>
          <div class="card-category-dashboard text-center">
            <strong>
              Timeline
            </strong>
          </div>
        </p>
        <div class="progress-box">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card card-customer-dashboard" style="background-color: #CCCCCC;">
        <div class="card-category">
          <p>
            <strong>
              About your unit
            </strong>
          </p>
          <p>
            Name: <%= @unit.unit_name %>
          </p>
          <p>
            Address: <%= @unit.address %>
          </p>
          <p>
            Size: <%= @unit.floor_size %>sqm
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card card-customer-dashboard bottom-card" style="background-color: #CCCCCC;">
        <div class="card-category">
          <p>
            <strong>
              Decisions
            </strong>
          </p>
        </div>
        <div>
          <% @unit.decisions.each do |decision| %>
            <p>
              <%= decision.title %>
            </p>
            <% end %>
        </div>
        <div class="card-link-more">
          <%= link_to 'more', customers_unit_decisions_path(@unit) %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card card-customer-dashboard bottom-card" style="background-color: #CCCCCC;">
        <div class="card-category">
          <p>
            <strong>
              News
            </strong>
          </p>
        </div>
                <div>
          <% @unit.building.lot.phase.news.each do |news_item| %>
            <p>
              <%= news_item.title %>
            </p>
            <% end %>
        </div>
        <div class="card-link-more">
          <%= link_to 'more', customers_unit_news_index_path(@unit) %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card card-customer-dashboard bottom-card" style="background-color: #000000;">
        <div class="card-category">
          <div class="card-category">
            Webcam
          </div>

        </div>
      </div>
    </div>
  </div>

