<!DOCTYPE html>
<html>

  <head>
    <!-- This will yield the title of every page being passed -->
    <title><%= full_title(yield(:title)) %></title>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <!-- Google result description -->
    <meta name="description" content="The Re-Vive Customer Platform accompanies you to your journey to a new home. Please visit our main website on www.revive.be">

    <!-- Needed for Bootstrap support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Facebook OpenGraph Social Card -->
    <meta property="og:title" content="Re-Vive Customer Platform">
    <meta property="og:image" content="<%= image_path 'logo-tgl.png' %>">
    <meta property="og:description" content="The Re-Vive Customer Platform accompanies you to your journey to a new home. Please visit our main website on www.revive.be">
    <meta property="og:site_name" content="Re-Vive Customer Platform"/>


    <%= stylesheet_link_tag    'application', media: 'all' %>

    <!-- To link with the favicon image in assets-->
    <%= favicon_link_tag 'favicon.ico'%>

  </head>

  <body>
   <% unless params[:controller] == "devise/sessions" && params[:action] == "new" %>

      <body class="padding_body">
      <%= render 'shared/flash' %>


    <% end %>

    <%= content_for?(:content) ? yield(:content) : yield %>



    <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=AIzaSyBcsEU5ugLAzujFqPBoxGJCbXUePncKaKA" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

    <%= javascript_include_tag "application" %>
    <%= yield(:after_js) %>




  </body>

</html>
